body{
     background-color:black;
     
     
       
}
p {
  font-weight:300;
  font-family:poppines;
  
}

/* Set div text to two steps heavier than
   normal but less than a standard bold. */
div {
 font-weight: 300;
 font-family:poppines;
}

.screen{
        width:800px;
        height:700px;
        
        margin-top:25%;
        margin-left:10%;
        position:absolute;
}
.part2{
   width:50%;
   height:10%;
   
   background-size:cover;
   margin-top:30%
   
}