body{
     background-color:black;
     
       
}
.screen{
        width:800px;
        height:700px;
        background-color:rgba(0,0,0,0.7);
        margin-top:5%;
        margin-left:10%;
        position:absolute;
}
.part2{
   width:50%;
   height:100%;
c
   background-size:cover;
   margin-left:10%
   
}
